%header
  .container
    .header_logo
      = image_tag 'header-bg-icon.gif'
      .header_texts
        %h1
          トレーニングウェア
          %span 比較
        %br
        %p ジムやスポーツシーンに活躍するトレーニングウェア、フィットネスウェアを紹介。
.container
  .row
  %aside.col-md-4
    = link_to "http://www.google.com" do
      = image_tag 'left-bn.gif'
    %h2 トレーニングウェア
    %ul
      %li
        = link_to '' do
          = image_tag 'img_main_2xu.gif'
          %p
            %span.brand_en 2XU
            %span.brand_ja ツータイムズユー
      %li
        = link_to '' do
          = image_tag ''
          %p
            %span.brand_en
            %span.brand_ja

      %li
        = link_to '' do
          = image_tag ''
          %p
            %span.brand_en 
            %span.brand_ja 

      %li
        = link_to '' do
          = image_tag ''
          %p
            %span.brand_en 
            %span.brand_ja 

      %li
        = link_to '' do
          = image_tag ''
          %p
            %span.brand_en 
            %span.brand_ja 

      %li
        = link_to '' do
          = image_tag ''
          %p
            %span.brand_en 
            %span.brand_ja 

      %li
        = link_to '' do
          = image_tag ''
          %p
            %span.brand_en 
            %span.brand_ja 

  -# index main content
  %main.col-md-8
    %ul.main_plate.bxslider
      %li
        = link_to '' do
          = image_tag 'top-bn01.jpg'
      %li
        = link_to '' do
          = image_tag 'top-bn02.jpg'
      %li
        = link_to '' do
          = image_tag 'top-bn03.jpg'
    %ul.main_plate_selector
      %li
      %li
      %li



#footer
.container
  %p Copyright
  %section.advertise
    = link_to 'http://www.google.com' do
      = image_tag 'left-bn.gif'


